:root {
	--bg: #242526;
	--bg-accent: #484a4d;
	--text-color: #dadce1;
	--main-text-color: #000000;
	--nav-size: 60px;
	--border: 1px solid #474a4d;
	--border-radius: 8px;
	--speed: 500ms;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

body {
	margin: 0;
	font-family: roboto;
}

/* Profiles Page */
.profile {
	display: grid;
	grid-template-columns: 2fr 4fr 2fr;
	align-items: center;
	grid-gap: 2rem;
	padding: 1rem;
	line-height: 1.8;
	margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
	display: grid;
	grid-template-areas: 'top top' 'about about' 'exp edu' 'github github';
	grid-gap: 1rem;
}

.profile-top {
	grid-area: top;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.profile-top img {
	width: 250px;
}

.profile-top .icons a {
	color: #fff;
	margin: 0 0.3rem;
}

.profile-top .icons a:hover {
	color: var(--dark-color);
}

.profile-about {
	grid-area: about;
	text-align: center;
}

.profile-about .skills {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.profile-exp {
	grid-area: exp;
}

.profile-edu {
	grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
	margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
	border: 0;
}

.profile-exp p,
.profile-edu p {
	margin: 0.5rem 0;
}

.profile-github {
	grid-area: github;
}

.profile-github .repo {
	display: flex;
}

.profile-github .repo > div:first-child {
	flex: 7;
	flex-basis: 70%;
}

.profile-github > div:last-child {
	flex: 3;
	flex-basis: 20%;
}

.round-img {
	border-radius: 50%;
}
